%h1 Welcome To Breakerville Bank
%p The most secure and trustworthy bank on the internet
%h3 Please login below:
= form_tag sessions_path do 
  .field
    = label_tag :username
    = text_field_tag :username
  .field
    = label_tag :password
    = password_field_tag :password
  = submit_tag :submit
