!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %title Breaker Bank
    %link{href: "/assets/bootstrap.css", rel: "stylesheet"}/
    %link{href: "/assets/main.css", rel: "stylesheet"}/
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  %body
    / Static navbar
    .navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "index.html"} BreakerBank
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            - if current_user
              %li
                %a
                  = "Hello, #{current_user.email}"
              %li
                =link_to "Accounts", accounts_path
              %li
                =link_to "Quick Transfer", new_transaction_path
              %li
                =link_to "Help", new_support_request_path
              %li
                %a
                  = button_to "Sign Out", sign_out_path, :method => :delete
            - else
              %li
                %a{href: "/"} Please Login

    - flash.each do |key, msg|
      %div{ class: "alert alert-#{key}"}
        %p 
          = msg
    #ww
      .container
        .row
          .col-lg-8.col-lg-offset-2
            = yield
    #footer
      .container
        .row
          .col-lg-4
            %h4 My Bunker
            %p
              1337 Hacker Road,
              %br/
              832.232.8234,
              %br/
              BreakerVille, USA.
          .col-lg-4
          .col-lg-4
            %h4 About Breaker Bank
            %p Proudly Serving the Citizens of Breakerville since 1982. Bringing you the best service and securest banking man can provide.
